@charset "UTF-8";
/* CSSを書くところ */
h1 {
  color: black;
}
/* h3 {
        margin: 2px;
      } */

ul {
  display: table;
  margin-left: auto;
  padding: 0;
  width: 40%;
  text-align: center;
}

ul li {
  display: table-cell;
  min-width: 10px;
}

ul li a {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: #555;
}

ul li.current {
  background-color: #deebf7;
}
ul li:hover {
  background-color: #eae9e9;
}

#main_area {
  margin: 0;
  display: flex;
  flex-direction: row; /* 横方向に配置 */
  height: calc(100vh - 90px); /* 画面全体の高さに設定 */
}
#graph-panel {
  flex: 1; /* 左側を幅の50%に設定 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#UI-panel {
  flex: 1; /* 左側を幅の50%に設定 */
  display: flex;
}

/* --- BOXの定義 -------------------------------------------------*/
.control-panel {
  flex: 2.2;
  position: relative; /* タイトル用に親要素定義  */
  display: flex; /* Flexboxを使用 */
  flex-direction: column; /* 縦方向のレイアウト */
  box-sizing: border-box; /* 罫線・余白も含む大きさ  */
  margin: 2px; /* BOXの位置               */
  max-width: 1000px; /* BOXの最大横幅           */
  background: #fff; /* BOXの背景色             */
  padding: 40px 10px 25px 10px; /* BOX内の余白             */
  border: 3px solid #0059b3; /* BOXの枠線               */
}

/* --- タイトル部分の定義 ----------------------------------------*/
.control-panel::before {
  position: absolute; /* 親からの相対位置の定義  */
  display: inline-block; /* インラインボックス定義  */
  box-sizing: border-box; /* 罫線・余白も含む大きさ  */
  line-height: 1; /* 1行の高さを初期化       */
  background: #6eb4fa; /* タイトル背景色          */
  color: #ffffff; /* タイトルの文字色        */
  content: attr(title); /* タイトルに[title]を表示 */
  font-weight: bold; /* タイトルは太字          */
  padding: 8px 13px; /* タイトル内の余白        */
  top: -17px; /* タイトル上位置はマイナス*/
  left: 16px; /* タイトル右位置は1文字分 */
  border-radius: 5px; /* タイトルの角丸          */
  font-size: 20px; /* タイトルの文字サイズ    */
}

.sequence-panel {
  flex: 1;
  position: relative; /* タイトル用に親要素定義  */
  display: flex; /* Flexboxを使用 */
  flex-direction: column; /* 縦方向のレイアウト */
  box-sizing: border-box; /* 罫線・余白も含む大きさ  */
  margin: 2px; /* BOXの位置               */
  max-width: 1000px; /* BOXの最大横幅           */
  min-width: 250px;
  background: #fff; /* BOXの背景色             */
  padding: 40px 10px 25px 10px; /* BOX内の余白             */
  border: 3px solid #0059b3; /* BOXの枠線               */
}

/* --- タイトル部分の定義 ----------------------------------------*/
.sequence-panel::before {
  position: absolute; /* 親からの相対位置の定義  */
  display: inline-block; /* インラインボックス定義  */
  box-sizing: border-box; /* 罫線・余白も含む大きさ  */
  line-height: 1; /* 1行の高さを初期化       */
  background: #0059b3; /* タイトル背景色          */
  color: #ffffff; /* タイトルの文字色        */
  content: attr(title); /* タイトルに[title]を表示 */
  font-weight: bold; /* タイトルは太字          */
  padding: 8px 13px; /* タイトル内の余白        */
  top: -17px; /* タイトル上位置はマイナス*/
  left: 16px; /* タイトル右位置は1文字分 */
  border-radius: 5px; /* タイトルの角丸          */
  font-size: 20px; /* タイトルの文字サイズ    */
}

/* モバイル用のメディアクエリ */
@media (max-aspect-ratio: 1/1) {
  #main_area {
    flex-direction: column; /* 縦方向のレイアウト */
    flex: 0 0 auto; /* サイズを自動調整 */
    height: auto; /* 高さは自動調整 */
  }
}

#panel-title1 {
  position: absolute;
  top: -10px;
}

.sequence {
  display: flex; /* Flexboxを使用 */
  justify-content: space-between; /* 左右端に配置 */
  flex: 1;
  position: relative; /* タイトル用に親要素定義  */
  box-sizing: border-box; /* 罫線・余白も含む大きさ  */
  margin: 2px; /* BOXの位置               */
  max-width: 500px; /* BOXの最大横幅           */
  background: #fff; /* BOXの背景色             */
  padding: 20px 20px 15px 20px; /* BOX内の余白             */
  border: 3px solid #0059b3; /* BOXの枠線               */
  font-weight: bold;
}

/* --- タイトル部分の定義 ----------------------------------------*/
.sequence::before {
  position: absolute; /* 親からの相対位置の定義  */
  display: inline-block; /* インラインボックス定義  */
  box-sizing: border-box; /* 罫線・余白も含む大きさ  */
  line-height: 1; /* 1行の高さを初期化       */
  background: #0059b3; /* タイトル背景色          */
  color: #ffffff; /* タイトルの文字色        */
  content: attr(title); /* タイトルに[title]を表示 */
  font-weight: bold; /* タイトルは太字          */
  padding: 8px 13px; /* タイトル内の余白        */
  top: -17px; /* タイトル上位置はマイナス*/
  left: 16px; /* タイトル右位置は1文字分 */
  border-radius: 5px; /* タイトルの角丸          */
  font-size: 16px; /* タイトルの文字サイズ    */
}
select {
  border: 1px solid;
  font-size: 20px;
  font-weight: bold;
}
input {
  border: 1px solid;
  font-size: 30px;
  font-weight: bold;
}
label {
  font-size: 20px;
  /* line-height: 2; */
  /* font-weight: bold; */
}
.column {
  display: flex;
  flex-flow: column;
  justify-content: center;
  /* align-items: center; */
}
.row-center {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.box {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px;
  margin: 2px;
}
.left_right {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  /* font-size: 20px; */
  margin-left: 20px;
  margin-right: 20px;
}
.red {
  color: red;
  font-size: 30;
  font-weight: bold;
}
.blue {
    color: rgb(0, 60, 255);
    font-size: 30;
    font-weight: bold;
  }

.t_button {
  height: 80px;
  display: flex; /* Flexboxを使用 */
  flex: 1;
  flex-flow: column;
  user-select: none;
  text-align: center;
}

.D_1year {
  display: flex; /* Flexboxを使用 */
  flex: 1;
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  background-color: blue;
  margin: 5pt;
}

.D_1month {
  display: flex; /* Flexboxを使用 */
  flex: 1;
  clip-path: polygon(0% 50%, 100% 10%, 100% 90%);
  background-color: rgb(100, 100, 255);
  margin: 5pt;
}
.D_5day {
  display: flex; /* Flexboxを使用 */
  flex: 1;
  clip-path: polygon(0% 50%, 100% 20%, 100%80%);
  background-color: rgb(150, 150, 255);
  margin: 5pt;
}
.D_1day {
  display: flex; /* Flexboxを使用 */
  flex: 1;
  clip-path: polygon(10% 50%, 90% 30%, 90% 70%);
  background-color: rgb(170, 170, 255);
  margin: 5pt;
}
.U_1year {
  display: flex; /* Flexboxを使用 */
  flex: 1;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  background-color: red;
  margin: 5pt;
}
.U_1month {
  display: flex; /* Flexboxを使用 */
  flex: 1;
  clip-path: polygon(0 10%, 100% 50%, 0 90%);
  background-color: rgb(255, 100, 100);
  margin: 5pt;
}
.U_5day {
  display: flex; /* Flexboxを使用 */
  flex: 1;
  clip-path: polygon(0 20%, 100% 50%, 0 80%);
  background-color: rgb(255, 150, 150);
  margin: 5pt;
}
.U_1day {
  display: flex; /* Flexboxを使用 */
  flex: 1;
  clip-path: polygon(10% 30%, 90% 50%, 10% 70%);
  background-color: rgb(255, 170, 170);
  margin: 5pt;
}
/* #D_1year a {
    border-style: solid;
    display: block;
    border-width: 100% 100% 100% 0;
    border-color: transparent #128c8e transparent transparent;
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    
} */
.t_button:active {
  transform: translateY(2px);
}
.t_button:hover {
  background-color: #eae9e9;
}
/* .t_button::after {
  content: "";
  display: inline-block;
  border-style: solid;
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent #fff;
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
} */
/* #D_1year a:before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 25px;
  width: 0;
  height: 0;
  margin-top: -5px;
  border: 5px solid transparent; 
  border-left: 5px solid #fff;
} */

/* .t_button .triangle_R1::after {
  display: inline-block;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #fb3c3c;
} */
.label_1au_x {
    color: #000000;
    font-family: sans-serif;
    padding: 2px;
    font-size: 10pt;
    --opacity:1;
    opacity: var(--opacity);
    color: rgba(0, 0, 0, 0.4);
}

.label_5au_x {
    color: #000000;
    font-family: sans-serif;
    font-size: 10pt;

    --opacity:1;
    opacity: var(--opacity);
    padding: 2px;
    color: rgba(0, 0, 0, 0.4);
}

.label_1au_y {
    color: #000000;
    font-family: sans-serif;
    padding: 2px;
    font-size: 10pt;
    --opacity:0;
    opacity: var(--opacity);
    color: rgba(0, 0, 0, 0.4);
}

.label_5au_y {
    color: #000000;
    font-family: sans-serif;
    padding: 2px;
    font-size: 10pt;
    --opacity:0;
    opacity: var(--opacity);
    color: rgba(0, 0, 0, 0.4);
}
.label_1au_z {
    color: #000000;
    font-family: sans-serif;
    padding: 2px;
    font-size: 10pt;
    --opacity:1;
    opacity: var(--opacity);
    color: rgba(0, 0, 0, 0.4);
}

.label_5au_z {
    color: #000000;
    font-family: sans-serif;
    font-size: 10pt;

    --opacity:1;
    opacity: var(--opacity);
    padding: 2px;
    color: rgba(0, 0, 0, 0.4);
}
.label_planet {
    color: #000000;
    font-family: sans-serif;
    padding: 2px;
    font-size: 10pt;
    --opacity:1;
    opacity: var(--opacity);
    color: rgba(0, 0, 0, 1);
}

.launch{
    /* visibility: hidden; */
    display: none;
}